.comoajudar-screen {
  text-align: center;
  padding: 20px;
}

.comoajudar-header {
  
  padding: 20px;
  color: black;
}

.comoajudar-content {
  margin: 20px;
}

.comoajudar-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.comoajudar-list {
  list-style-type: none;
  padding-left: 0;
}

.comoajudar-list li {
  margin-bottom: 10px;
  font-size: 1.1em;
}

.comoajudar-list a {
  color: #007bff;
  text-decoration: none;
}

.comoajudar-list a:hover {
  text-decoration: underline;
}
